<h1>Listing Phrases</h1>

<% form_tag phrases_path, :method => 'get' do %>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
</p>
<% end %>

<div id="phrases">
<%= render 'phrases' %>
</div>

<%= link_to 'New Phrase', new_phrase_path %>
